<% if @message.errors.any? %>
	<p>
		<%= flash[:error] %><br />
		<%= pluralize(@message.errors.count, 'error')%>
		prevented this message from being delivered:
		<ul>
			<% @message.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
	 	</ul>
	</p>
<% end %>