<p>
	<% if @tutor.errors.any? %>
	<%= flash[:error] %><br />
	
	<%= t('errors.template.header', model: Tutor.model_name.human, count: @tutor.errors.count) %>
	
	<ul>
		<% @tutor.errors.full_messages.each do |message| %>
  		<li><%= message %></li>
  		<% end %>
 	 </ul>
	<% end %>
</p>