<% title t '.title' %>
<h1><%= t '.title' %></h1>

<div class="panel borderless-top panel-default">
	<div class="panel-body">
		<%= render "tutor_form" %>
	</div><!-- End Panel-body -->
</div><!-- End Panel -->
