<div class="jumbotron">
  <div class="page-header">
  	<h1><%= t('website.name') %> <small>Subtext for header</small></h1>
	</div>
  <p>
  	<%= t('.description') %>
  </p>
  <p>
  	<%= link_to "#{t('home.about.title')} »", about_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
