<div class="jumbotron">
  <h1>
  	<strong>
  		<%= t('website.name') %>
  	</strong>
  </h1>
  <p>
  	<%= t('.description') %>
  </p>
  <p>
  	<%= link_to "#{t('home.about.title')} »", about_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
