<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text pull-left">© <%= t('website.name') %> <%= footer_date %>. All Rights Reserved.</p>
		<a href="#" class="btn navbar-btn btn-info pull-right">Follow us!</a>
	</div>
</div>