<div class="navbar navbar-default">
	<div class="container">
		<p class="navbar-text pull-left"><%= puts_copyright %></p>
		<a href="#" class="btn navbar-btn btn-info pull-right">Follow us!</a>
	</div>
</div>