<% if current_user.is_tutor? %>
<ul class="nav nav-tabs">
	<% if current_page?(edit_user_registration_path) %>
  <li class="active">
	<% else %>
  <li>
 	<% end %>
  	<%= link_to(t('edit_profile', scope: 'common'), edit_user_registration_path) %>
  </li>
  <% if current_page?(edit_tutor_path(current_user.tutor)) %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  	<%= link_to(t('edit_tutor_profile', scope: 'common'), edit_tutor_path(current_user.tutor)) %>
  </li>
</ul>
<% end %>