<% if current_user.is_tutor? %>
<ul class="nav nav-tabs">
  <li class="active">
  	<%= link_to(t('edit_profile', scope: 'common'), edit_user_registration_path) %>
  </li>
  <li class="">
  	<%= link_to(t('edit_tutor_profile', scope: 'common'), edit_tutor_path(current_user.tutor)) %>
  </li>
</ul>
<% end %>